.ant-input {
  padding: 16px 12px 4px 11px;
}

.ant-select .ant-select-selector {
  padding: 16px 10px 4px 11px;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  top: 16px;
}
